body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.input
{
    padding: .5rem;
}
.btn{
    padding: .5rem;
    background-color: greenyellow;
    font-weight: bold;
    border: 0px;
 
}